In [3]:
hours = int(input("Enter hours: "))
rate = int(input("Enter rate"))
pay = hours * rate
print(float(pay))

100.0

In [10]:
user = input("Do you like sugar: ")
if user == "yes":
    print("Sugar is bad for your health!")
elif user == "no":
    print("Good job!")

In [17]:
import pandas as pd
# Create a data frame
column = ["Mariya", "Batman", "Spongebob"]
data = pd.DataFrame(column)
print(data)

           0
0     Mariya
1     Batman
2  Spongebob

In [20]:
import pandas as pd
# Add column name
column = ["Mariya", "Batman", "Spongebob"]
titled_column = {"name": column}
data = pd.DataFrame(titled_column)
print(data)

        name
0     Mariya
1     Batman
2  Spongebob

In [22]:
import pandas as pd
# Add new columns
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
print(data)

        name  height  weight
0     Mariya    1.64      54
1     Batman    1.90     100
2  Spongebob    0.25       1

In [24]:
import pandas as pd
# Select column in dataframe
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["weight"]
print(select_column)

0     54
1    100
2      1
Name: weight, dtype: int64

In [29]:
import pandas as pd
# Select value in Data Frame
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["weight"][1]
print(select_column)

100

In [31]:
import pandas as pd
# Select row in Data Frame
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["weight"][1]
select_row = data.iloc[1]
print(select_row)

name      Batman
height       1.9
weight       100
Name: 1, dtype: object

In [33]:
import pandas as pd
# Select row in Data Frame, part 2
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["weight"][1]
select_row = data.iloc[1]["weight"]
print(select_row)

100

In [36]:
# We need to watch the Data manipulate section

In [38]:
import pandas as pd
# Save data to csv or txt file and tab delimited
column = ["Mariya", "Batman", "Spongebob"]
titled_columns = {"name": column, "height": [1.64, 1.9, 0.25], "weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
data.to_csv("file.csv", index=False, sep="\t") # In the extension for the "file.csv" could also be "file.txt"
print(data)

        name  height  weight
0     Mariya    1.64      54
1     Batman    1.90     100
2  Spongebob    0.25       1

In [42]:
import pandas as pd
# Load Data Frame from file(.csv or .txt)
pd.read_csv("file.csv", sep="\t")

        name  height  weight
0     Mariya    1.64      54
1     Batman    1.90     100
2  Spongebob    0.25       1

In [51]:
import pandas as pd
# Head and tail methods
data = pd.read_csv("customers.csv")
data.to_csv("file.csv", index=False, sep="\t")
print(data.head())
#print(data.head(2))
#print(data.tail())
#print(data.tail(2))

               name  age
0     Justin Bryant   24
1       Jack Dalton   48
2      Cody McKenna   19
3  Youssef Whitaker   31
4     Angel Houston   33

In [67]:
import pandas as pd
# Filter data entries
data = pd.read_csv("customers.csv")
filtered = data[data["age"] == 25]
print(filtered)

               name  age
35  Leonard Summers   25

In [71]:
import pandas as pd
# Replace data entries
data = pd.read_csv("customers.csv")
filtered = data[data["age"] == 60]
replacement = filtered.replace(60, 65)
print(replacement)

                 name  age
6   Steven McLaughlin   65
12     Julian Gilmore   65
37      Santos Weaver   65