In [3]:
hours = int(input("Enter hours: "))
rate = int(input("Enter rate"))
pay = hours * rate
print(float(pay))

100.0

In [1]:
user = input("Do you like sugar: ")
if user == "yes":
    print("Sugar is bad for your health!")
elif user == "no":
    print("Good job!")

In [3]:
age = int(input("Enter your age: "))
if age >= 18:
  print("You are an adult!")
elif age >= 13:
  print("You are a teenager!")
else:
  print("You are a child!")

You are a child!

In [4]:
user = input("Enter the text to store: ")
print("This is your text: " + user)

This is your text:

In [19]:
import pandas as pd
# Create a DataFrame
column = ["Mariya", "Batman", "Songebob"]
titled_columns = {"Name": column,
"Height": [1.67, 1.9, 0.25],
"Weight": [54, 100, 1]}
data = pd.DataFrame(titled_columns)
select_column = data["Weight"][1]
select_row = data.iloc[1]["Weight"]
bmi = []
for i in range(len(data)):
    bmi_score = data["Weight"][i]/(data["Height"][i]**2)
    bmi.append(bmi_score)
data["Bmi"] = bmi
data.to_csv("bmi.csv", index=False, sep="\t")
print(data)

       Name  Height  Weight        Bmi
0    Mariya    1.67      54  19.362473
1    Batman    1.90     100  27.700831
2  Songebob    0.25       1  16.000000

In [27]:
import pandas as pd
# Load DataFrame from file
data = pd.read_csv("bmi.csv", sep="\t")
print(data.head(1))
print(data.tail(1))

     Name  Height  Weight        Bmi
0  Mariya    1.67      54  19.362473
       Name  Height  Weight   Bmi
2  Songebob    0.25       1  16.0

In [55]:
filter_row = data[data["Name"]=="Batman"]
replaced_name = data.replace("Batman", "Superman")
remove_column = data.drop(["Bmi", "Weight"], axis=1)
remove_row = data.iloc[1:2]
print(remove_row)

     Name  Height  Weight        Bmi
1  Batman     1.9     100  27.700831

In [56]:
row = {"Release_year":"2021",
"Release_name":"Natural Vision Evolved",
"City":"Los Angeles"}
new_row_data = data.append(row, ignore_index=True)
print(new_row_data)

       Name  Height  Weight        Bmi Release_year            Release_name  \
0    Mariya    1.67    54.0  19.362473          NaN                     NaN
1    Batman    1.90   100.0  27.700831          NaN                     NaN
2  Songebob    0.25     1.0  16.000000          NaN                     NaN
3       NaN     NaN     NaN        NaN         2021  Natural Vision Evolved

          City
0          NaN
1          NaN
2          NaN
3  Los Angeles

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3300\1883580695.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_row_data = data.append(row, ignore_index=True)